<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>For help using this tool or to report a bug, please contact the creator at noahpetz@gmail.com</p>
    </div>
    {{>footer}}
</body>

</html>